<div id="about-page">
    <% if (theme.about.authorinfo) { %>
        <%- partial('partial/compoment/about/authorinfo') %>
    <% } %>
    <% if (theme.about.contentinfo) { %>
        <%- partial('partial/compoment/about/contentinfo') %>
    <% } %>
    <% if (theme.about.skillsinfo) { %>
        <%- partial('partial/compoment/about/skillsinfo') %>
    <% } %>
    <% if (theme.about.personalities) { %>
        <%- partial('partial/compoment/about/personalities') %>
    <% } %>
    <% if (theme.about.motto) { %>
        <%- partial('partial/compoment/about/motto') %>
    <% } %>
    <% if (theme.about.hobbies) { %>
        <%- partial('partial/compoment/about/hobbies') %>
    <% } %>
    <% if (theme.about.other) { %>
        <%- partial('partial/compoment/about/other') %>
    <% } %>
    <% if (theme.about.award) { %>
        <%- partial('partial/compoment/about/award') %>
    <% } %>
</div>

